<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
</head>
<body>
    <div class="bg-gray-300 py-8">
        <div class="container mx-auto px-4">
            <div class="header flex items-center justify-center mb-8">
                <div class="logo mr-4">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Assign-FS Logo" width="80" height="80">
                </div>
                
                <div class="title text-3xl font-bold text-gray-800">Assign-FS</div>
            </div>
        </div>
    </div>

    <h1>Recommendations</h1>
    <ul>
        {% for recommendation in recommendations %}
            <li>{{ recommendation }}</li>
        {% endfor %}
    </ul>
</body>
</html>
